/****************************
			COLORS
*****************************/

header {
	background: #444;
	border-color: darkgrey;
}

nav {
	background: darkgrey;
}

a {
	color: white;
}

nav a, nav a:visited {
	color: white;
}

nav a.selected, nav a:hover {
	color: grey;
}

body {
	background-color: grey;
}

.logo img {
	border-color: white;
}

footer {
	/*background-color: black;*/
}


/****************************
			GENERAL
*****************************/

a {
	text-decoration: none;
}

body {
	font-family: "Lucida Console", Monaco, monospace, sans-serif;
}

/****************************
			BODY
*****************************/

.container {
	/*float: left;*/
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

.content {
	float: left;
}

/****************************
			HEADER
*****************************/

header {
	width: 100%;
}

.logo a {
	display: block;
	text-align: center;
}

.logo img {
	height: 130px;
}


/****************************
			NAVIGATION
*****************************/

nav {
	text-align: center;
	padding: 10px 0;
}

nav ul {
	margin: 0 10px;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

/****************************
			GALLERY
*****************************/

.main-gallery {
	margin-bottom: 20px;
}


.main-gallery img {
	width: 400px;
	height: 220px;
}

/****************************
			CONTENT
*****************************/

.content-header {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.content-header h1 {
	color: #007A99;
	text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;
	margin: 0;
}

.content-1 {
	/*background: #484848 ;*/
	padding: 0;
}

.content-2 {
	/*background: #A0A0A0 ;*/
}


/****************************
			FOOTER
*****************************/

footer {
	clear: both;
	font-size: 0.9em;
	text-align: center;
	padding-top: 30px;
}

.contact-icon {
	width: 60px;
	height: 60px;
	margin: 0 20px;
}
