/* for landscape mobile 
@media screen and (min-width: 480px) {

}
*/

/* for tablets and desktops */
@media screen and (min-width: 660px) {
	/****************************
				HEADER
	*****************************/

	header {
		border-bottom-style: solid;
		border-bottom-width: 10px;
	}

	.logo {
		display: inline-block;
		vertical-align: middle;
		width: 48%;
	}

	.logo img {
		height: 100px;
	}


	.logo a {
		text-align: left;
		padding-left: 5%;
	}

	/****************************
			  NAVIGATION
	*****************************/

	nav {
		background: none;
		font-size: 1.125em;
		text-align: right;
		vertical-align: middle;
		width: 48%;
		display: inline-block;
	}

	/****************************
			   GALLERY
	*****************************/

	.main-gallery img {
		width: 100%;
		height: 530px;
	}

	/****************************
			   CONTENT
	*****************************/

	.content-header {
		margin-bottom: 20px;
	}

	.content-header a {
		display: block;
		float: left;
		width: 50%;
	}

	.content-1 {
		display: block;
		float: left;
		width: 48%;
		margin: 0 1%;
	}

	.content-2 {
		display: block;
		float: left;
		width: 48%;
		margin: 0 1%;
	}

	/****************************
			   CLEAR FIX
	*****************************/

	.group::after {
		content: " ";
		display: table;
		clear: both;
	}


}