/********************************
			GENERAL
*********************************/

a {
	text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
	background: grey;
}


/********************************
			HEADER
*********************************/


header {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 5px;
  width: 100%;
  background: black;
}

header .title {
  text-align: center;
}

.logo {
	height: 100px;
	border-radius: 150px;
	width: 48%;
    padding-left: 5%;
}

.title {
	float: left;
	display: block;
	color: white;
	text-align: center;
	margin-left: 16em;
}

.title h1 {
	font-weight: 400;
}

.title h2 {
	font-weight: 100;
	font-size: .9em;
}

/********************************
			MENU
*********************************/

.menu {
	list-style: none;
	color: white;
	display: block;
	float: right;
	margin: 2em 5em 0 0 ;
}

.menu li{
	display: inline-block;
	padding: 1em;
}

.menu a {
	font-weight: 800;
	color: white;
}

/********************************
			CONTENT
*********************************/

.container {
	max-width: 940px;
	margin: 200px auto;
	clear: both;
	display: block;
}



/********************************
			FOOTER
*********************************/

footer { 
	/*padding: 5px ;*/
	width: 100%;
	background: black;
	position: fixed;
	bottom: 0;
	left: 0;
	color: white;
}

footer a {
	color: white;
}

footer p {
	display: block;
	float: left;
	margin-left: 30px;
}

.social {
	list-style: none;
	color: white;
	display: block;
	float: right;
	margin: 0 5em 0 0 ;
}

.social li{
	display: inline-block;
	padding: 1em 0.8em 1em 1em;
}

.social a {
	font-weight: 800;
	color: white;
}



/********************************
			MOBILE
*********************************/

@media	(max-width: 900px){
	.title {
		margin-top: 1em;
		margin-left: 4em;
	}

	.title h1 {
		font-size: 1.5em;
		padding: 0;
	}
}

@media (max-width: 600px) {
  .logo {
  	width: 70px;
  	height: 70px;
  	position: none;
  	float: left;
    margin: 1em 1em 0 7em;
  }

  .title {
  	float: left;
  	text-align: center;
  	margin-left: 0;
  }

  .title h1 {
	font-weight: 300;
	font-size: 1.4em;
  }

  .title h2 {
	font-weight: 100;
	font-size: .8em;
  }
  .menu {
 	float: left;
 	margin: 0 8em;
  }

  .container {
  	float: left;
  	margin-top: 9em;
  }

 /* footer {
 	display: block;
 	text-align: center;
  }*/

  footer p {
	margin: 1em 9em;
	float: left;
  }

  .social {
	float: left;
 	margin: 0 7em;
  }
}

